.ExploreProjectsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  justify-content: center;
  height: calc(100% - 100px);
  overflow-y: scroll;
}

.ExploreProjectsWrapper .IndividualWrapper {
  width: calc(100% / 3.2);
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
}

.ExploreProjectsWrapper .IndividualWrapper img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.ExploreProjectsWrapper .IndividualWrapper .FirstSec {
  background: var(
    --button-hover,
    linear-gradient(
      -82.33deg,
      rgba(74, 36, 255, 1) 0%,
      rgba(129, 131, 255, 1) 100%
    )
  );
  border-radius: 20px 20px 0px 0px;
  padding: 20px;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.ExploreProjectsWrapper .IndividualWrapper .SecondDiv {
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: -30px;
}

.ExploreProjectsWrapper .IndividualWrapper .SecondDiv p {
  background-color: #ece7ff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.ExploreProjectsWrapper .IndividualWrapper .ThirdDiv {
  padding: 20px;
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.ExploreProjectsWrapper .IndividualWrapper .ThirdDiv p{
    font-size: 14px;
    line-height: 1.1;
}

.ExploreProjectsWrapper .IndividualWrapper .ThirdDiv .collaborators{
    display: flex;
    gap: 10px;
}