.ProfileWrapper{
    height: calc(100% - 100px);
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 15px;
  
}

.ProfileWrapper .Header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}


.ProfileWrapper .Header button{
    background: var(
    --button-hover,
    linear-gradient(
      -82.33deg,
      rgba(74, 36, 255, 1) 0%,
      rgba(129, 131, 255, 1) 100%
    )
  );
    color: white;
    padding: 8px 20px;
    border-radius: 20px;
}

.ProfileWrapper .Description{
    font-size: 16px;
  
}

.ProfileWrapper .ContactDetailsWrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}

.ProfileWrapper .ContactDetailsWrapper>div,.ProfileWrapper .ContactDetailsWrapper>a{
    display: flex;
    gap: 10px;
    align-items: center;
}

.ProfileWrapper .skillsWrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ProfileWrapper .skillsWrapper>div{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.ProfileWrapper .skillsWrapper>div p{
    background-color: #ECE7FF;
    color: #4C27FF;
    padding: 5px 15px;
    border-radius: 20px
}

.ProfileWrapper .ExperienceWrapper{
    display: flex;
    flex-direction: column;
    gap:8px;
    width: 100%;
}

.ProfileWrapper .ExperienceWrapper>div{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.ProfileWrapper .ExperienceWrapper .ExperienceIndividualWrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.ProfileWrapper .ProjectWrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}
.ProfileWrapper .ProjectWrapper>div{
       display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}